h1 {
    font-family: Arial, sans-serif;
    font-size: 1.8em;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.4em;
}
p {
    font-family: TimesNewRoman, serif;
    font-size: 1.2em;
}
.een {
    color: red;
}
        .twee {
            color: green;
        }
                .drie {
                    color: blue;
                }